# Ignore all specified files in any sub-directory
**/*.lnk
**/*.Lnk
**/*.LNK

# Ignore the specified folders in any sub-directory
**/excluded/
**/Excluded/
**/EXCLUDED/
**/legacy/
**/Legacy/
**/LEGACY/
**/links/
**/Links/
**/LINKS/
**/original
**/Original
**/ORIGINAL
**/output/
**/Output/
**/OUTPUT/
**/resources/
**/Resources/
**/RESOURCES/