# Ignore all .log, .lnk and .txt files in any subdirectory
**/*.log
**/*.Log
**/*.LOG
**/*.lnk
**/*.Lnk
**/*.LNK

# Ignore the /output folder in any subdirectory
**/output/
**/Output/
**/OUTPUT/

# Ignore the /logfiles folder in any subdirectory
**/legacy/
**/Legacy/
**/LEGACY/

# Ignore the /links folder in any subdirectory
**/links/
**/Links/
**/LINKS/

# Ignore the /resources folder in any subdirectory
**/resources/
**/Resources/
**/RESOURCES/
**/original
**/Original
**/ORIGINAL